
@tailwind base;
@tailwind components;
@tailwind utilities;








@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(./font/ProximaNova-Regular.otf) format('otf');
}


.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fas {
   font-size: 15px;/* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fas {
  color:#ffce85;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fas {
  color:#FFBD5A;
}


/*Shafi*/
.carousel{
  position: relative;
}

.carousel .carousel-item,
.carousel .carousel-item--hidden{
  display: none;
}
.carousel .carousel-action{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.carousel .carousel-action button{
  background-color: #F5F5F5;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.carousel .carousel-active{
  display: flex;
  animation: slide 0.5s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}



